.gallery {
  margin: 20px 0;
  width: 80%;
  margin: 0 auto;
  column-count: 4;
  column-gap: 8px;
}

.item {
  display: inline-block;
  /* display: flex; */
  width: 100%;
}

.item img {
  cursor: pointer;
  display: block;
  width: 100%;
  border-radius: 6px;
}

@media (max-width: 768px) {
  .gallery {
    width: 90%;
    column-count: 2;
  }
}

// User is not logged in

.login-content .colash__item:nth-child(1) {
  transform: translateY(-19%);
}
.login-content .colash__item:nth-child(2) {
  transform: translateY(-11%);
}
.login-content .colash__item:nth-child(1) {
  transform: translateY(-19%);
}
.login-content .colash__item:nth-child(3) {
  transform: translateY(-7%);
}

.login-content .colash__item:nth-child(5) {
  transform: translateY(-7%);
}
.login-content .colash__item:nth-child(6) {
  transform: translateY(-11%);
}
.login-content .colash__item:nth-child(7) {
  transform: translateY(-19%);
}

.login-content .login-colash img {
  height: 350px;
  width: 100%;
  margin-bottom: 20px;
  border-radius: 16px;
}

@media only screen and (max-width: 1600px) {
  .login-content .login-colash img {
    height: 320px;
  }
}

@media only screen and (max-width: 1400px) {
  .login-content .login-colash img {
    height: 260px;
  }
}
