.gallery {
  margin: 20px 0;
  width: 80%;
  margin: 0 auto;
  column-count: 4;
  column-gap: 8px;
}

.item {
  display: inline-block;
  /* display: flex; */
  width: 100%;
}

.item img {
  cursor: pointer;
  display: block;
  width: 100%;
  border-radius: 6px;
}

@media (max-width: 768px) {
  .gallery {
    width: 90%;
    column-count: 2;
  }
}
