.header__logo {
  color: #e60023;
  font-weight: 600;
  font-size: 18px;
}

.header__icon {
  color: #e60023 !important;
}

.header__menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 20px;
  font-weight: 600;
  font-size: 16px;
}

.header__menu button {
  border-style: none;
  min-height: 40px;
  padding: 8px 12px;
  font-weight: 500;
  font-size: 16px;
  font: inherit;
  border-radius: 24px;
  box-sizing: border-box;
}
.header__menu .menu__button {
  background: #e60023;
  color: white;
}

.header__search {
  display: flex;
  align-items: center;
  padding: 10px;
  flex: 1;
  background-color: #ebe8e8;
  border-radius: 33px;
}
.header__search > input {
  outline: none;
  border: none;
  margin-left: 10px;
  background: transparent;
  flex: 1;
}

.ant-modal .ant-modal-content {
  border-radius: 32px !important;
  width: 484px !important;
}

.login-btn {
  border: 0px;
  height: 40px;
  display: inline-block;
  border-radius: 20px !important;
  -webkit-font-smoothing: antialiased;
  padding: 0px 18px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 8px;
  vertical-align: middle;
  text-align: center;
  background-color: rgb(230, 0, 35);
  color: rgb(255, 255, 255);
  width: 100%;
}
